/* ======================================== */
/* variables */
/* ======================================== */
:root {
  --primary-color: #ddeb9d;
  --secondary-color: #a0c878;
  --accent-color: #143d60;
  --splash-color: #eb5b00;
}

/* ======================================== */
/* global */
/* ======================================== */
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

html,
body {
  line-height: 1.7rem;
  position: relative;
  overflow-x: hidden;
}

p {
  margin: 10px, 0;
}

/* ======================================== */
/* utilies */
/* ======================================== */
.primary-text {
}

.accent-text {
}

.container {
}

.btn {
}

.dark-btn {
}

/* ======================================== */
/* navbar */
/* ======================================== */
#navbar {
}

#navbar a {
}

#navbar a:hover {
}

#navbar a.current {
}

/* ======================================== */
/* footer */
/* ======================================== */
#footer a {
}

#footer a:hover {
}
